/*---Configuration---*/

/* Template */
  /*
    margin
    padding
    color
    bg-color
    size
    text
  */

/* Globale Variablen */


:root {
  
  /* Color palette */
  --primary: #17c9d1;
  --secondary: #2eeaf0;

  /* variations */
  --primary-l: #4deff3;
  --primary-d: #0e7e84;

  --secondary-l: #8ff8fa;
  --secondary-d: #1abdc4;

  /* UI */
  --bg: #061014;
  --surface: #0a1c22;
  --card: #102a31;
  --border: #174650;

  /* Text */
  --text: #f5ffff;
  --text-l: #8fb9bd;
}



/* Browser Margin Reset */
* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
}



/*---Dark Mode Desktop---*/

/* hero */


.hero {
  padding: 100px 0px;
  color: var(--text);
  background: radial-gradient(125% 125% at 50% 10%, #fff0 40%, var(--primary-d) 100%), var(--bg);
  text-align: center;
}


.hero img {
  margin: 0 auto 40px;
  width: 50%;
}


.hero .description {
  margin: 0px auto;
  width: 650px;
}


.hero p {
  line-height: 30px;
} 


.hero .button {
  margin: 75px 10px;
  padding: 4px 15px;
  color: var(--text);
  background: linear-gradient(135deg, var(--primary-l), var(--primary));
  width: 300px;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 16px;
  display: inline-block;
  transition: all .25s ease;
}
.hero .button:hover {
  background: linear-gradient(135deg, var(--primary), var(--primary-d));
  transform: translateY(-2px);
}

/* radial-gradient(125% 125% at 50% 10%, #fff 40%, #63e 100%) */