:root {
    --blue1: #dbeafe;
    --blue2: #bedbff;
    --blue4: #54a2ff;
    --blue5: #3080ff;
    --blue5l: #3080ff3d;
    --gray1: #212121;
    --gray2: #e5e7eb;
    --gray3: #d1d5dc;
    --gray4: #99a1af;
    --gray5: #6a7282;
    --gray6: #4a5565;
}

* {
    font-family: "Public Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
}

body {
    background-image: url('SMP_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h1 {
    font-family: "Bowlby One", sans-serif;
    font-size: 150px;
    /*background-image: linear-gradient(to top, var(--blue5), var(--blue2));
    -webkit-background-clip: text;
    color: transparent;*/
    color: var(--blue4);
    text-shadow: 0 10px 0 var(--blue2), 1px 30px 80px #00000040;
}

.content {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
}

.section {
    padding-top: 400px;
    padding-bottom: 200px;
}
